<html>
<head>
  <title>VaaNanbaTholKodu</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <div class="jumbotron"  style="padding:40px;">
      <h1><p>If you have forgotten your password please reset here<p></h1>
      <input class="form-control input-lg" placeholder="New Password"  type="password"><br>
      <input class="form-control input-lg" placeholder="Confirm Password"  type="password"><br>
      <p><a class="btn btn-primary btn-lg"  role="button">Reset</a></p>
    </div>
  </div>
</body>
</html>
